STM32/Lab 3/.metadata/.ide.log
STM32/Lab 3/.metadata/.plugins/org.eclipse.cdt.core/.log
STM32/Lab 3/.metadata/.plugins/org.eclipse.cdt.core/Example.1667275057739.pdom
STM32/Lab 3/.metadata/.plugins/org.eclipse.cdt.ui/dialog_settings.xml
STM32/Lab 3/.metadata/.plugins/org.eclipse.core.resources/2.snap
STM32/Lab 3/.metadata/.plugins/org.eclipse.core.resources/.history/10/e017db539559001d1ee787810519abd7
STM32/Lab 3/.metadata/.plugins/org.eclipse.core.resources/.history/26/c0a8eab59459001d1ee787810519abd7
STM32/Lab 3/.metadata/.plugins/org.eclipse.core.resources/.history/48/e08cb7fe9359001d1ee787810519abd7
STM32/Lab 3/.metadata/.plugins/org.eclipse.core.resources/.history/5c/e0cfaf5a8459001d12f7f074701bd2d3
STM32/Lab 3/.metadata/.plugins/org.eclipse.core.resources/.history/7f/7049bfea9459001d1ee787810519abd7
STM32/Lab 3/.metadata/.plugins/org.eclipse.core.resources/.history/82/0010c39c9259001d1ee787810519abd7
STM32/Lab 3/.metadata/.plugins/org.eclipse.core.resources/.history/9/503c78b99459001d1ee787810519abd7
STM32/Lab 3/.metadata/.plugins/org.eclipse.core.resources/.history/a9/40612a998459001d12f7f074701bd2d3
STM32/Lab 3/.metadata/.plugins/org.eclipse.core.resources/.history/c/f0bc36ee9459001d1ee787810519abd7
STM32/Lab 3/.metadata/.plugins/org.eclipse.core.resources/.history/c6/90f6b5918459001d12f7f074701bd2d3
STM32/Lab 3/.metadata/.plugins/org.eclipse.core.resources/.history/c7/002d8fc59459001d1ee787810519abd7
STM32/Lab 3/.metadata/.plugins/org.eclipse.core.resources/.history/c9/e06653f39259001d1ee787810519abd7
STM32/Lab 3/.metadata/.plugins/org.eclipse.core.resources/.history/e7/80bddbbd9459001d1ee787810519abd7
STM32/Lab 3/.metadata/.plugins/org.eclipse.core.resources/.projects/Example/.markers
STM32/Lab 3/.metadata/.plugins/org.eclipse.core.resources/.projects/Example/.markers.snap
STM32/Lab 3/.metadata/.plugins/org.eclipse.core.resources/.projects/Example/.syncinfo.snap
STM32/Lab 3/.metadata/.plugins/org.eclipse.core.resources/.projects/Example/.indexes/bf/c4/history.index
STM32/Lab 3/.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
STM32/Lab 3/.metadata/.plugins/org.eclipse.core.resources/.root/2.tree
STM32/Lab 3/.metadata/.plugins/org.eclipse.core.resources/.root/3.tree
STM32/Lab 3/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
STM32/Lab 3/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.mpc.ui.prefs
STM32/Lab 3/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
STM32/Lab 3/.metadata/.plugins/org.eclipse.epp.mpc.ui/dialog_settings.xml
STM32/Lab 3/.metadata/.plugins/org.eclipse.ltk.ui.refactoring/dialog_settings.xml
STM32/Lab 3/.metadata/.plugins/org.eclipse.cdt.core/.log
STM32/Lab 3/.metadata/.plugins/org.eclipse.cdt.core/Example.1667275057739.pdom
STM32/Lab 3/.metadata/.plugins/org.eclipse.cdt.ui/dialog_settings.xml
STM32/Lab 3/.metadata/.plugins/org.eclipse.core.resources/2.snap
STM32/Lab 3/.metadata/.plugins/org.eclipse.core.resources/.history/10/e017db539559001d1ee787810519abd7
STM32/Lab 3/.metadata/.plugins/org.eclipse.core.resources/.history/26/c0a8eab59459001d1ee787810519abd7
STM32/Lab 3/.metadata/.plugins/org.eclipse.core.resources/.history/48/e08cb7fe9359001d1ee787810519abd7
STM32/Lab 3/.metadata/.plugins/org.eclipse.core.resources/.history/5c/e0cfaf5a8459001d12f7f074701bd2d3
STM32/Lab 3/.metadata/.plugins/org.eclipse.core.resources/.history/7f/7049bfea9459001d1ee787810519abd7
STM32/Lab 3/.metadata/.plugins/org.eclipse.core.resources/.history/82/0010c39c9259001d1ee787810519abd7
STM32/Lab 3/.metadata/.plugins/org.eclipse.core.resources/.history/9/503c78b99459001d1ee787810519abd7
STM32/Lab 3/.metadata/.plugins/org.eclipse.core.resources/.history/a9/40612a998459001d12f7f074701bd2d3
STM32/Lab 3/.metadata/.plugins/org.eclipse.core.resources/.history/c/f0bc36ee9459001d1ee787810519abd7
STM32/Lab 3/.metadata/.plugins/org.eclipse.core.resources/.history/c6/90f6b5918459001d12f7f074701bd2d3
STM32/Lab 3/.metadata/.plugins/org.eclipse.core.resources/.history/c7/002d8fc59459001d1ee787810519abd7
STM32/Lab 3/.metadata/.plugins/org.eclipse.core.resources/.history/c9/e06653f39259001d1ee787810519abd7
STM32/Lab 3/.metadata/.plugins/org.eclipse.core.resources/.history/e7/80bddbbd9459001d1ee787810519abd7
STM32/Lab 3/.metadata/.plugins/org.eclipse.core.resources/.projects/Example/.markers.snap
STM32/Lab 3/.metadata/.plugins/org.eclipse.core.resources/.projects/Example/.syncinfo.snap
STM32/Lab 3/.metadata/.plugins/org.eclipse.core.resources/.projects/Example/.indexes/bf/c4/history.index
STM32/Lab 3/.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
STM32/Lab 3/.metadata/.plugins/org.eclipse.core.resources/.root/2.tree
STM32/Lab 3/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
STM32/Lab 3/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
STM32/Lab 3/.metadata/.plugins/org.eclipse.ltk.ui.refactoring/dialog_settings.xml
